body
{
    margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

.input-group{
    top: 150;
    position: absolute;
    width: 280px;
    transition: 0.5s ease;
}
#login-box
{
    position: relative;
    height: 400px;
    margin: 5% auto;
    width: 600px;
    background: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);     
}

.left-box
{
    position: absolute;
    top: -30%;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 600px;
    overflow: hidden;
    
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="checkbox"]
{
  
    margin: 10px 10px 20px 0;
}
span{
  color: #777;
    font-size: 12px;
    position: relative;
    bottom: 3px;
}

input[type="submit"]
{
    margin-bottom: 28px;
    margin-left: 40px;
    padding: 4px;
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 2px;
    border: 1px solid;
    border-color: #dd4b39;
    color: #ff0606;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #ff5722;
    transition: 0.2s ease;
}

.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 45px;
    width: 300px;
    height: 400px;
    background-image: url(Window.jpg);
    background-size: cover;
    background-position: center;
}

.button-box{
    width: 220px;
    margin: 45px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s ease; 
}

.or
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith
{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align:center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

 button.social
{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook
{
    background: #32508e;
}

.twitter
{
    background: #55acee;
}
.google
{
    background: #dd4b39;
}

#signup{
    left: 450px;
}

#login{
    left: 40px;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../background.jpg);
    height: 10vh;
    background-size: cover;
    background-position: center;
}

ul{
    margin-left: 200px;
    float: left;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid solid transparent; 
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;    
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.signup{
     margin-right: 25px;
    float: right;
    list-style-type: none;
    margin-top: 22px;
}

.signup a{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid solid transparent;
    transition: 0.6s ease;
}
.signup a:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;    
}


.logo img{
    float:left;
    margin-left: 15px;
    width: 75px;
    height: auto;
}

.name h2{
    float:left;
    margin-left: 20px;
     margin-top: 10px;
    width:75px;
     color: #fff;
    font-size: 40px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.search_box{
    top: 50%;
    left: 27%;
    justify-content: center;
    align-items: center;
     display: flex;
    width: 100%;
    position: relative;
}

::-webkit-input-placeholder{
    color: #fff;
}

::-moz-placeholder{
    color: #fff;
}

::-ms-input-placeholder{
    color: #fff;
}

.search_box input[type="text"]{
    width: 40%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.search_box btn {
    color: rgb(255, 90, 61);
    float: right;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.search_box:hover.input_box{
    width: 240px;
    padding: 0 6px;
}
.title{
    position: absolute;
    top: 25%;
    left: 40%;
    background-position: center;
    transform: translate(-50,-50);
}

.title h1{
    color: #fff;
    font-size: 50px;
}

.title h2{
    color: rgb(255, 90, 61);
    font-size: 35px;
}

.button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
     background-color: #fff;
    color: #000;
    border: 1px solid #fff;    
}